@use '../abstracts/mixins';

.main {
  padding: 0 2rem;

  &--home {
    display: flex;
    flex-direction: column;

    @include mixins.respond(tab-port) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    figure {
      @include mixins.respond(tab-port) {
        flex-basis: 50%;
      }

      @include mixins.respond(tab-land) {
        flex-basis: 33%;
      }
    }
  }
}
