@use '../abstracts/variables';
@use '../abstracts/mixins';

.photographer-header {
  // A SUPPRIMER
  margin-bottom: 5rem;
  // A SUPPRIMER

  background-color: variables.$color-grey-lighter;
  display: flex;
  align-items: center;
  width: 100%;

  @include mixins.respond(tab-land) {
    justify-content: space-between;
    padding: 5rem;
  }

  &__profile {
    flex: 2;

    @include mixins.respond(tab-land) {
      flex: none;
    }
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 400;
    color: variables.$color-secondary;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
  }

  &__location {
    color: variables.$color-primary;
    font-size: 1.3rem;
  }

  &__quote {
    color: variables.$color-grey-darker;
    font-size: 1.3rem;
  }

  &__img {
    // flex: 1;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);

    @include mixins.respond(tab-port) {
      flex: none;
      height: 20rem;
      width: 20rem;
    }
  }
}
