@use '../abstracts/mixins';

.main {
  @include mixins.respond(tab-land) {
    max-width: 120rem;
    &--page {
      max-width: 120rem;
      margin: 0 auto;
    }
  }

  &--page {
    position: relative;
  }
}
