@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
  font-weight: 700;
  font-size: 1.8rem;
  color: variables.$color-white;
  text-align: center;
  background-color: variables.$color-primary;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
  border: none;

  &--form {
    padding: 2.3rem 5rem;
  }

  &--error {
    margin-left: 1rem;
  }

  &-cta {
    &--mobile {
      padding: 1rem 2rem;
      display: block;
      position: fixed;
      bottom: 1rem;
      min-width: max-content;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      @include mixins.respond(tab-land) {
        display: none;
      }
    }

    &--desktop {
      padding: 1rem 2rem;

      @include mixins.respond(phone) {
        display: none;
      }

      @include mixins.respond(tab-land) {
        display: block;
        flex-basis: fill;
      }
    }
  }

  &:hover,
  &:focus {
    background-color: variables.$color-secondary;
    color: variables.$color-black;
  }

  &--main {
    display: none;

    @include mixins.respond(tab-land) {
      display: block;
      position: fixed;
      top: 6px;
      left: 50%;
      margin-left: -100px;
    }
  }
}
