@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
  font-weight: 700;
  font-size: 1.8rem;
  color: variables.$color-white;
  text-align: center;
  background-color: variables.$color-primary;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
  border: none;

  &--work {
    border: none;
    color: inherit;
    width: 2.2rem;
    height: 2.2rem;
  }

  &--form {
    padding: 1rem 5rem;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);

    @include mixins.respond(tab-port) {
      position: relative;

      left: 0;
      right: 0;
      transform: translateX(0);
      padding: 2.3rem 5rem;
    }
  }

  &--error {
    margin-left: 1rem;
  }

  &-cta {
    &--mobile {
      padding: 1rem 2rem;
      display: block;
      position: fixed;
      bottom: 1rem;
      min-width: max-content;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);

      @include mixins.respond(tab-land) {
        left: 30%;
      }

      @include mixins.respond(desktop) {
        display: none;
      }
    }

    &--desktop {
      padding: 1rem 2rem;
      display: none;

      @include mixins.respond(desktop) {
        display: block;
        position: absolute;
        top: 6rem;
        left: 30%;
        padding: 2rem 1rem;
      }
    }
  }

  &:hover,
  &:focus {
    background-color: variables.$color-secondary;
    color: variables.$color-black;
  }

  &--main {
    display: block;
    position: fixed;
    top: 6px;
    left: 50%;
    margin-left: -100px;

    @include mixins.respond(tab-land) {
      display: block;
      position: fixed;
      top: 6px;
      left: 50%;
      margin-left: -100px;
    }
  }
}
