@use '../abstracts/variables';

.tags {
  font-size: 1.2rem;
  font-weight: 500;
  color: variables.$color-primary;
  display: flex;

  &__item {
    border: 0.5px variables.$color-grey-light solid;
    border-radius: 11px;
    padding: 3px 5px;
    margin: 3px 2.5px;
    transition: all 0.4s;

    &:focus,
    &:hover {
      background-color: variables.$color-primary;
      color: variables.$color-white;
    }
  }

  &__link {
    &--header {
      &::first-letter {
        color: red !important;
        font-weight: 700;
      }
    }
  }

  &--page {
    font-size: 1.3rem;
    flex-wrap: wrap;
  }
}
