// COLORS FISHEYE
$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-secondary-light: #db8876;

// COLORS BLACK & WHITE
$color-black: #000;

$color-grey-darker: #525252;
$color-grey-dark: #757575;

$color-grey-light: #c4c4c4;
$color-grey-lighter: #fafafa;

$color-white: #fff;

// FONTS
$default-font: 'DM Sans', sans-serif;
