// COLORS FISHEYE
$color-primary: #901c1c;
$color-secondary: #d3573c;

// COLORS BLACK & WHITE
$color-black: #000;

$color-grey-dark: #757575;
$color-grey-light: #c4c4c4;

$color-white: #fff;

// FONTS
$default-font: 'DM Sans', sans-serif;
